
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
  }

/* ////////////////////////////////////////////////////////////////////// */
:root{
    --time: 40s;
    --color:rgba(255,255,255,0.6);
    --background-img: url('background.jpg') 0 0 no-repeat;
}
body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Itim', cursive;
    letter-spacing: 2px;
    line-height: 1.5em; 
    font-size: 22px;
    color: var(--color);
    width: 100vw;
    height: 100vh;
}
    .hearo{
       
        background: var(--background-img);
        -webkit-background-size: cover;
        -moz-background-size: cover;    
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
    } 
        #language{
            position: relative;
            text-align: right;
            right:15px;
            
        }
        .maine-cintent{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
            .invitation {
                width: 40%;
            }
     /* projects */
    .project{
        width: 100%;
     
        background: var(--background-img);
        border-top: 6px solid var(--color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 0;

        -webkit-background-size: cover;
        -moz-background-size: cover;    
        -o-background-size: cover;
        background-size: cover;
    }
        .project>*{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3px 0;
        }
        .project>header>div:nth-child(2){
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 2% 0;
            text-align: center;
        }
       .credential{
           display:flex;
           justify-content:space-between;
           width:40%;
           padding:10px 0;
           
       }
        .project>article::after, .project>article::before{
            content: '';
            display: block;
            width:80%;
            background-color: rgba(245, 245, 239, 0.158);
            height: 3px;
            margin: 30px 0;
        }
        .project>footer{
            padding: 10px 0 ;
        }
        .project>footer>div{
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
       
        .project>footer>nav{
            display: flex;
            justify-content:space-between;
            width: 100%;
            padding: 8% 0;
        }
        .project>footer a{
            text-decoration: none;
            text-align: center;
            color: var(--color);
            width: 30%;
            background-color:var(--color);
            border: 1px solid black;
            border-radius: 5px;
        }
        .project>footer a:hover {
            background-color: rgba(245, 245, 239, 0.158);
        }
.maine-footer{
    width: 100vw;
    height: 150px;
    margin-top:4px;
    background: var(--background-img);
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;    
    -o-background-size: cover;
    background-size: cover;
} 
    .maine-footer>footer{
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    .maine-footer>footer>*{
        padding: 5px;
    }       
    @media(max-width:900px){
        body{
            font-size: 18px;
            line-height: 1.4;
        }
        .gear-svg{
            display: none;
        }
       
        .invitation{
         width: 80%;
         display: flex;
         flex-direction: column;
         justify-content:center;
         height: 450px;
        }
       
    }

    @media(max-width:673px){
        .project>footer>div{
            flex-flow: column wrap;
            align-items: center;
        }
        .project>footer>div>p{
            padding: 2% 0;  
            width: 40%;
            text-align: center;    
        }
        .project>header>div:nth-child(2)>div:nth-child(2){
            display: none;
        }
        .project>header>div:nth-child(2){
            justify-content: center; 
        }
        .project>footer>nav{
            flex-direction: column;
        }
        .project>footer>nav a{
             width: 100%;
        }
        .credential{
            width:100%;
        }
        .maine-footer>footer{
            flex-direction: column;
            align-items: center;
        }
    }
    
  /* gear */
.gear-svg{
    width: 40%;
}

.into-circle{
    opacity: 0.6;
    font: italic 11px serif;
}
.gear{
    fill:transparent;
    transform-origin: 166.85px 62.75px;
    stroke:rgba(0, 0, 0, 0.3);  
    
}
.gear>ellipse{
    opacity: 0;
}

.figures{
    fill: rgba(240, 237, 237,0.2);
    transform-origin: 166.85px 62.75px;
    stroke: rgb(51, 41, 41);
    stroke-width: 3px;
}
.wrap-on-the-board{
    transform:matrix(0.1354684,0,0,0.12894895,12,-60);
  }
  .write-on-the-board {
    transform-origin: 265px 275.5px;
   }
  .wrap-event{
    transform:matrix(0.13802734,0,0,0.13802734,15.58,113.08);
    }
  .event{
     transform-origin: 265px 275.5px;
  }
  .wrap-read{
    transform:matrix(0.14130859,0,0,0.14130859,277,26);
    }
  .read{
    transform-origin: 265px 275.5px;
 }
 .wrap-coding{
    transform:matrix(0.06237017,0,0,0.06548154,180.45,-110.99)
 }
 .coding{
    transform-origin: 440px 450px;
 }
 .wrap-thinking{
    transform:matrix(0.1300113,0,0,0.13076396,179,178)
 }
 .thinking{
    transform-origin: 200px 200.5px;
 }

 .move-gear{
    animation-name: gear-move;
    animation-duration: var(--time);
    animation-iteration-count:infinite;
    
 }
 .move-figure{
    animation-name: figure-move ;
    animation-duration: var(--time);
    animation-iteration-count: infinite;
   

 }
 @keyframes figure-move{
    0% {
      transform: rotate(0deg);
    }
    /* one */
    5% {
        transform: rotate(-72deg);  
        }
    20% {
        transform: rotate(-72deg);  
        }
    /* two */
    25% {
        transform: rotate(-144deg);
        }
    40% {
        transform: rotate(-144deg);
        }
    /* three */
    45% {
        transform: rotate(-216deg);  
    }
    60% {
          transform: rotate(-216deg);  
      }
    /* four */
    65% {
        transform: rotate(-288deg);  
    }
    80% {
        transform: rotate(-288deg);  
    }
    /* five */
    85% {
        transform: rotate(-360deg);  
    }
    100% {
        transform: rotate(-360deg);  
    }
}
@keyframes gear-move{
    0% {
      transform: rotate(0deg);
    }
    /* one */
    5% {
        transform: rotate(72deg);  
    }
    20% {
        transform: rotate(72deg);  
    }
    /* two */
    25% {
        transform: rotate(144deg);  
    }
    40% {
        transform: rotate(144deg);
      }
    /* three */
    45% {
        transform: rotate(216deg);  
    }
    60% {
          transform: rotate(216deg);  
      }
    /* four */
    65% {
        transform: rotate(288deg);  
    }
    80% {
        transform: rotate(288deg);  
    }
    /* five */
    85% {
        transform: rotate(360deg);  
    }
    100% {
        transform: rotate(360deg);  
    }
  } 